#commit {
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;
    box-sizing: border-box;
    border-top-left-radius: 3px!important;
    border-top-right-radius: 3px!important;
    display: flex!important;
    position: relative;
    padding: 10px;
    margin-bottom: -1px;
    font-size: 13px;
    line-height: 20px;
    color: #586069;
    background-color: #f1f8ff;
    border: 1px solid #c8e1ff;
}

#avatar {
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;
    font-size: 13px;
    line-height: 20px;
    color: #586069;
    box-sizing: border-box;
    align-self: flex-start!important;
    position: relative;
    min-width: 26px;
    height: 20px;
}

#name {
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;
    line-height: 20px;
    color: #586069;
    box-sizing: border-box;
    flex: 1 1 auto!important;
    margin-right: 16px!important;
    font-size: 12px!important;
}

#date {
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;
    font-size: 13px;
    line-height: 20px;
    color: #586069;
    box-sizing: border-box;
    align-items: baseline!important;
    white-space: nowrap!important;
    display: flex!important;
}

#user {
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;
    line-height: 20px;
    font-size: 12px!important;
    box-sizing: border-box;
    background-color: initial;
    text-decoration: none;
    position: relative;
    font-weight: 600;
    color: #24292e;
    white-space: nowrap;
}

#commitText {
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;
    line-height: 20px;
    font-size: 12px!important;
    box-sizing: border-box;
    background-color: initial;
    text-decoration: none;
    color: inherit!important;
}